/* 
h2:hover {
  color: black;
}
#about-me {
  color: red;
}

.subtitle {
  color:green;
}



#anchor:visited {
  color: red;
}

#google:link {
  background-color: black;
}

#google:visited {
  background-color: red;
} */

ul > li{
  color: red;
}

/* ul  li{
  color: red;
}

.div1 > .div2 {
  color: red;
} */